.App {
  text-align: center;
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  border-radius: 5px;
  background-color: rgb(230, 219, 219);
}
body {
  background-color: rgb(235, 224, 235);
}

input {
  background-color: wheat;
  margin: 10px;
  width: 200px;
  height: 30px;
  border-radius: 12px;
}
button {
  margin: 5px;
  height: 41px;
  width: 100px;
  background-color: beige;
  border-radius: 9px;
}

.card {
  margin: 5px;
  background-color: rgb(157, 150, 138);
  width: 371px;
  border-radius: 12px;
}
